@import "../utilidades/variables";
@import "../utilidades/mixin";

body{
    background-color: $color-body;
    padding: 50px;
}

header {
    @include flex;
    background-color: #8d8e92;
    img {
        width: 10%;
    }
    header nav ul {
        color: rgb(251, 253, 253);
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
    }
    
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin-top: 50px;
    margin-bottom: 40px;
    .textos {
        text-align: center;
        margin-right: 150px;
    }
    .boton {
        background-color: #2b2b2b;
        color: whitesmoke;
        padding: 10px;
        display: inline-block;
        margin-top: 50px;
        border-bottom-right-radius: 50px;
        border-top-left-radius: 50px;
        box-shadow: 10px 10px 10px rgb(240, 51, 193);
    }
    
}
.boton {
    background-color: #2b2b2b;
    color: whitesmoke;
    padding: 10px;
    display: inline-block;
    margin-top: 50px;
    margin-left: 100px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    box-shadow: 10px 10px 10px rgb(240, 51, 193);
}
.enviar {
    background-color: #2b2b2b;
    color: whitesmoke;
    padding: 10px;
    display: inline-block;
    margin-top: 50px;
    margin-left: 100px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    box-shadow: 10px 10px 10px rgb(240, 51, 193);
}
.col img {
    width: 300px;
    height: 300px;
}


footer {
    background-color: deeppink;
    margin-top: 100px;
    text-align: center;
}
